<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cornetmijo.appdiplomski">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hospital"
        android:label="OrdinacijaSabic"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PatientInfoActivity" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".DoctorListActivity" />
        <activity android:name=".DoctorViewActivity" />
        <activity android:name=".PrescriptionsActivity" />
        <activity android:name=".ReferralActivity" />
        <activity android:name=".VisitDoctorActivity" />
        <activity android:name=".TermActivity" />
        <activity android:name=".ConfirmTermActivity"></activity>
    </application>

</manifest>